:root {
	font-size: 62.5%;
	/*   Variables   */
	--text: #eeeeee;
	--background-color: #202020;
}

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: var(--background-color);
	color: var(--text);
	font-size: 1.6rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 2rem 0;
}

h1 {
	font-size: 5rem;
}

h2 {
	font-size: 3.5rem;
}

h3 {
	font-size: 3rem;
}

h4 {
	font-size: 2.4rem;
}

h5 {
	font-size: 2rem;
}

h6 {
	font-size: 1.8rem;
}

ul {
	list-style: none;
	padding: 0;
}

img {
	max-width: 100%;
}

p {
	margin: 0;
}

a {
	text-decoration: none;
	color: var(--text);
}

section {
	padding: 5rem 5rem 0 5rem;
}

/*   Nav   */
nav {
	padding: 2rem;
	background-color: #202020;
	height: 50px;
	
}
ul {
	display: flex;
	justify-content: space-around;
}

li > a {
	display: inline-block;
	position: relative;
	position: fixed;
	background-color: #202020;
}

li a:after {
	content: '';
	display: block;
	position: absolute;
	width: 0;
	bottom: 0;
	height: 2px;
	margin: -5px 0;
	left: 0;
	background-color: white;
	transition: all 0.4s ease-in 0s;
}

li a:hover:after {
	width: 100%;
}

/*   header   */
header {
	padding: 5rem;
}

.top-img-header {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding: 5rem 0;
}

.top-img-header div {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.top-img-header div h4 {
	padding-top: 3rem;
}

.top-img-header .img-wrapper {
	width: 18rem;
	height: 18rem;
	border-radius: 50%;
	overflow: hidden;
}

.top-img-header .img-wrapper img {
	transition: 0.4s;
}

.top-img-header .img-wrapper img:hover {
	transform: scale(1.1);
}

.arrow {
	display: flex;
	justify-content: center;
}

.arrow img {
	width: 3rem;
	opacity: 0.6;
	transition: 0.3s;
}

.arrow img:hover {
	opacity: 1;
}

/*   section   */

.article {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.article__content {
	display: flex;
	flex-wrap: wrap;
}

.article__content .img-wrapper {
	max-width: 44rem;
	overflow: hidden;
}

.article__content .img-wrapper img {
	transition: 0.4s;
}

.article__content .img-wrapper img:hover {
	transform: scale(1.1);
}

.article__content p {
	max-width: 43rem;
	padding: 0 2rem;
	font-size: 1.8rem;
	line-height: 2.4rem;
}

.top-song__content {
	display: flex;
	align-items: center;
	padding: 0.5rem 0;
}

.top-song__content img:nth-child(1) {
	max-width: 6rem;
}

.top-song__content img:nth-child(2) {
	max-width: 3rem;
	opacity: 0.6;
	transition: 0.3s;
	padding: 0 1.5rem;
	cursor: pointer;
}

.top-song__content img:nth-child(2):hover {
	opacity: 1;
}

.top-song__content div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.top-song__content div h6 {
	margin-right: 1rem;
	font-weight: 700;
}

.artists-suggestion {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.artists-suggestion__content {
	display: flex;
	align-items: center;
	justify-content: center;
}

.artists-suggestion h3 {
	margin-top: 0;
}

.artists-suggestion__content--artist {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 0 0 2rem 0;
}

.artists-suggestion__content--artist img {
	max-width: 10rem;
}

@media (max-width: 480px) {
	h1 {
		font-size: 4rem;
	}

	h6 {
		font-size: 1.4rem;
		margin: 0 0 0.7rem 0;
	}

	nav {
		padding: 0 2rem;
	}

	nav ul {
		padding: 0;
		flex-direction: column;
	}

	nav ul li {
		padding: 0.5rem 0;
	}

	nav li a {
		font-size: 1.8rem;
	}

	header {
		padding: 5rem 2rem 0 2rem;
	}

	.top-img-header {
		justify-content: center;
	}

	.top-img-header div {
		padding-bottom: 2rem;
	}

	.top-img-header div img {
		padding-bottom: 0rem;
	}

	.top-song__content img:nth-child(2) {
		max-width: 2.5rem;
	}

	section {
		padding: 5rem 2rem 0 2rem;
	}

	.article {
		justify-content: center;
	}

	.article__content img {
		max-width: 100%;
	}

	.article__content p {
		padding: 3rem 0;
		font-size: 1.6rem;
		line-height: 2.2rem;
	}

	.artists-suggestion__content--artist img {
		max-width: 12rem;
	}

	.artists-suggestion__content > div:nth-child(1) {
		padding-right: 2rem;
	}
}

@media (max-width: 767px) {
}

@media (min-width: 768px) and (max-width: 979px) {
}

@media (min-width: 980px) and (max-width: 1199px) {
}

@media (min-width: 1200px) {
	nav {
		padding: 2rem 15rem;
	}

	.artists-suggestion__content {
		flex-direction: column;
	}
}
